.sec1 {
  position: relative;
  color: white;
}

.sec1 div {
  position: absolute;
  top: 100px;
  left: 50px;
}

.sec1 div h2 {
  font-size: xx-large;
  margin-bottom: 50px;
  text-shadow: 0px 0px 10px white;
}

.sec1 div h4 {
  font-size: x-large;
  margin-left: 200px;
  margin-bottom: 20px;
}

.sec1 ul {
  margin-left: 200px;
  font-size: larger;
  color: white;
  font-weight: bold;
}

.sec2 {
  margin-top: 100px;
  height: 500px;
  display: flex;
  justify-content: space-around;
}

.sec2 :nth-child(1) img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.sec2 :nth-child(2) img {
  height: 500px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px white;
  width: 800px;
}

.sec2 :nth-child(1) h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.sec2 :nth-child(1) p {
  text-align: center;
}

.sec2_1 {
  margin-top: 100px;
  height: 500px;
  display: flex;
  justify-content: space-around;
}
.sec2_1 :nth-child(2) img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.sec2_1 :nth-child(1) img {
  height: 500px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px white;
  width: 800px;
}

.sec2_1 :nth-child(2) h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.sec2_1 :nth-child(2) p {
  text-align: center;
}

.sec2_3 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.sec2_3 img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /* margin-left: 40%; */
  margin-bottom: 50px;
}

.sec2_3 h3 {
  margin-bottom: 20px;
}

p {
  color: white;
}
h3 {
  color: wheat;
}
