.sidebar {
  position: fixed;
  right: 0px;
  background-color: black;
  width: 100px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.req {
  width: 300px;
  display: flex;
  color: white;
  background-color: rgb(156, 211, 253);
  margin-top: 10px;
  padding: 20px 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  border-radius: 10px;
}

.req img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 50px;
}

.req p {
  margin-top: 10px;
}

button {
  padding: 20px 20px;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: medium;
  font-weight: bold;
}

button:hover {
  box-shadow: 0px 0px 10px rgb(114, 61, 61);
}

.ca {
  text-decoration: none;
  color: white;
}
.ca:hover {
  text-decoration: underline;
}
