section {
  width: 1400px;
  height: 850px;
  margin: auto;
  border-radius: 10px;
  position: relative;
}

.blue {
  height: 500px;
  background-image: linear-gradient(
    to right,
    rgb(56, 56, 249),
    rgba(137, 137, 241, 0.614)
  );
}

.white {
  height: 350px;
  background-color: white;
}

body {
  background-color: black;
}

.profile {
  height: 600px;
  width: 1050px;
  left: 180px;
  position: absolute;
  top: 50px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(6, 6, 32, 0.18);
  display: flex;
  border-radius: 10px;
}

.profile img {
  width: 400px;
  height: 400px;
  margin-top: 80px;
  margin-left: 80px;
}

.second_div_profile {
  position: absolute;
  top: 100px;
  right: 250px;
  background-color: rgb(181, 132, 231);
  height: 450px;
  width: 400px;
  padding-top: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(25, 3, 3, 0.288);
}

.second_div_profile_p1 {
  text-align: center;
  font-weight: bold;
}

.second_div_profile h2 {
  text-align: center;
}

.second_div_profile_3rdp {
  text-align: center;
}

.second_div_profile_2rdp {
  text-align: center;
}

.icons {
  display: flex;
  gap: 10px;
  margin-left: 130px;
}

.icons img {
  width: 24px;
  height: 24px;
  margin-top: 20px;
}

/* .top_icons {
  margin-top: 40px;
} */

.icons p {
  margin-top: 25px;
}

button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgba(211, 211, 237, 0.687);
}

a {
  color: white;
}

.aaa {
  color: white;
}

.aaa:hover {
  text-decoration: underline;
}
