* {
  margin: 0px;
  padding: 0px;
}

section {
  background-color: black;
  width: 1480px;
  height: 900px;
  display: flex;
  color: white;
}

section img {
  width: 800px;
  height: 860px;
  margin-left: 100px;
  margin-top: 20px;
  border-radius: 10px;
}

section :nth-child(2) {
  width: 500px;
}

.signin {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 10px;
  margin-left: -15px;
}

.signin form {
  width: 200px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

.signin div {
  background-color: blueviolet;
  width: 400px;
  height: 800px;
  margin-left: 60px;
  margin-top: 30px;
  border-radius: 10px;
}

.signin h1 {
  padding-top: 20px;
  text-shadow: 0px 0px 15px gold;
}

.signin h3 {
  margin-left: 30px;
  margin-top: 100px;
  margin-bottom: 50px;
}

form input {
  padding: 10px 20px 0px 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid wheat;
}

form input::placeholder {
  color: black;
  font-size: 15px;
}

form label {
  font-size: larger;
}

.btn1 {
  margin-top: 50px;
}

button {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}

.btn2 {
  background-color: red;
}

form p {
  text-align: center;
}

.btn3,
.btn4 {
  background-color: aquamarine;
}

button:hover {
  width: 110%;
  transition: 5ms;
  margin-left: -10px;
}

a {
  text-decoration: none;
  cursor: pointer;
}
